.nav-container {
    display: flex;
}

.navbar {

}

.title {
    display: flex;
}

.title > h2 {
    margin-top: 40px;
}

.title > img {
    width: 20%;
}

.balance {
    color: #ED90B7;
}

.yoga {
    color: #952A88;
}

.routes {
    margin-top: 60px;
    margin-left: 10%;
}

.routes a {
    margin-right: 20px;
    text-decoration: none;
    color: #952A88;
}

.routes a:hover {
    color: #ED90B7;
}
